/************ 공통사항 *************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@200;300;400;800;900&display=swap');
/* 
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
*/

html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 0.95;
  height: 5000px;
}

body.hide {
  height: 100vh;
  overflow: hidden;
}

a:link,
a:visited,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
}

.w-100 {
  width: 100%;
}

.mw-100 {
  max-width: 100%;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.hover-line::after {
  display: block;
  content: "";
  border-top: 1px solid #f9f9f9;
  margin-top: 0.25em;
  transition: all 0.3s;
  transform: scaleX(0);
  /* 해놔야 호버전에 안보임 */
  transform-origin: left;
  /* start */

}

.hover-line:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}

.mc {
  color: #f14d4c;
}

.dn {
  display: none;
}


/************ header-wrapper *************/
.header-wrapper {
  background-color: transparent;
  /* background-color: lightblue; */
  position: relative;
  z-index: 99;
}

.header-wrapper .header-white-wrap {
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  display: none;
}

.header-wrapper .header-white-wrap .logo-dark {
  justify-content: center;
  margin: auto;
}

.header-wrapper .header-white-wrap .logo-dark img {
  width: 80px;
  padding: 2em 0;
}

.header-wrapper .header-white-wrap .bars-wrap i.fa {
  padding-left: 3em;
}


.header-wrapper .header-wrap {
  display: flex;
  align-items: center;
  padding: 0 3em;
}

.header-wrapper .header-wrap .header-logo img {
  width: 80px;
  padding: 2.5em 0;
}

.header-wrapper .header-wrap .navi-wrapper {
  display: flex;
  align-items: center;
  color: #f9f9f9;
  margin-left: auto;
}

.header-wrapper .header-wrap .navi-wrapper .navi {
  padding: 2.5em 1.5em;
  cursor: pointer;
  letter-spacing: 0.2em;
}

.header-wrapper .header-wrap .icon-wrapper {
  display: flex;
  color: #f9f9f9;
  font-size: 1.5em;
  position: relative;
}

.header-wrapper .header-wrap .icon-wrapper>a {
  margin-left: 1em;
}

.header-wrapper .icon-wrapper .cart .cart-cnt {
  background-color: #f14d4c;
  color: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 1.3em;
  font-size: 0.5em;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
}

.header-wrap .sub-cart {
  position: absolute;
  right: 9em;
  top: 6.25em;
  background-color: #fff;
  padding: 2.5em 4em;
  opacity: 0;
  z-index: 999;
  transition: all .35s cubic-bezier(.53, .01, .18, 1);
  transform: translateY(100%);
  font-weight: lighter;
  /* display: none; 주니깐 트렌스폼이 안먹음*/
}

.header-wrap .sub-cart.active {
  opacity: 1;
  transform: translateY(0);
  /* display: block; */
}

.header-wrapper .search-wrap {
  width: 100%;
  padding: 2.25em;
  background-color: #fff;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.header-wrapper .search-wrap .type-wrap {display: flex;   justify-content: space-between;
  align-items: center;}

.header-wrapper .search-wrap .type-wrap input {
  margin-left: 0.5em;
  font-weight: 100;
  font-size: 1.1em;
  width: 90%;
  display: inline-block;
  vertical-align: middle;
  border: 0; 
  outline: 0;
}
.header-wrapper .search-wrap .type-wrap .bt-close {
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  margin-right: 0.25em;
  color: #555;
}
.header-wrapper .search-wrap .type-wrap .bt-close:hover{
  color: #f14d4c;
}

/************ .navi-wrapper *************/

.sub-wrapper {
  position: absolute;
  background-color: #fff;
  padding: 1.5em 1.5em;
  top: 6.3em;
  left: 0;
  color: #111;
}

.sub-wrapper .depth2 {
  padding: 0.875em 0;
  width: 210px;
  font-size: 1em;
  user-select: none;
  cursor: pointer;
  position: relative;
  line-height: 1;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 500;
  letter-spacing: -.03em;
}

.sub-wrapper .depth2:hover {
  color: #f14d4c;
  text-overflow: ellipsis;
}

/************ .main-wrapper *************/
.main-wrapper {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.main-wrapper .banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* = 100% auto */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.main-wrapper .banner1 {
  background-image: url(../img/main-slider-img1.jpg);
}

.main-wrapper .banner2 {
  background-image: url(../img/main-slider-img2.jpg);
}

.main-wrapper .banner3 {
  background-image: url(../img/main-slider-img3.jpg);
}

.main-wrapper .banner4 {
  background-image: url(../img/main-slider-img4.jpg);
}

.main-wrapper .banner .title-wrap {
  position: absolute;
  top: 13em;
  left: 50%;
  transform: translateX(-50%);
  color: #f9f9f9;
}

.main-wrapper .banner .title-wrap h2.title {
  font-size: 8.5em;
  font-weight: bold;
  line-height: 1em;
}

.main-wrapper .banner .title-wrap .content {
  font-size: 1.25em;
  font-style: italic;
  line-height: 1.875em;
  font-weight: lighter;
  margin-top: 2.5em;
}

.main-wrapper .banner .title-wrap .bt-more {
  border: 1px solid #f9f9f9;
  padding: 1.35em 3.15em;
  margin-top: 3em;
  letter-spacing: 0.125em;
  transition: all 0.3s;
}

.main-wrapper .banner .title-wrap .bt-more:hover {
  background-color: transparent;
  color: #f9f9f9;
}

.main-wrapper .arrow-wrapper {}

.main-wrapper .arrow-wrapper .bt-arrow {
  color: #f9f9f9;
  font-size: 3em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.main-wrapper .arrow-wrapper .bt-prev {
  left: 1em;
  z-index: 2;
}

.main-wrapper .arrow-wrapper .bt-next {
  right: 1em;
  z-index: 2;
}


/************ .modal-container *************/
.modal-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 999;
  transition: all 0.3s;
  opacity: 0;
  display: none;
}

.modal-container .modal-wrapper {
  background-color: #fff;
  width: 400px;
  height: 100vh;
  padding: 0 2.75em 0 3.5em;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(0);
  transition: all 0.3s;
}

.modal-container .modal-wrapper .close-wrap {
  padding: 2em 0 1.25em 0;
  text-align: right;
}

.modal-container .modal-wrapper .close-wrap .bt-close {
  border: none;
  background-color: transparent;
  font-size: 1.75em;
}

.modal-container .modal-wrapper .logo-wrap {
  width: 8.5em;
  justify-content: flex-start;
}

.modal-container .modal-wrapper .content {
  padding-top: 2.5em;
  line-height: 1.75em;
  font-weight: lighter;
}

.modal-container .modal-wrapper .info-wrap {
  padding-top: 1.5em;
  font-style: italic;
  font-weight: lighter;
  cursor: pointer;
  flex-direction: column;
  display: inline-flex;
  /* display:flex와 개념은 같지만 컨테이너 자체가 블록요소 또는 인라인요소처럼 쓰일 것인지 정의 */
}


.modal-container .modal-wrapper .info-wrap>span:not(:last-child) {
  margin-bottom: 0.75em;
}

.modal-container .modal-wrapper .info-wrap>span:hover {
  color: #f14d4c;
}

.modal-container .modal-wrapper .sns-wrap {
  padding: 3em 0;
}

.modal-container .modal-wrapper .sns-wrap>li {
  padding-bottom: 1.5em;
  font-weight: 600;
  font-size: 1.05em;
}

.modal-container .modal-wrapper .sns-wrap>li:hover {
  color: #f14d4c;
}

.modal-container.active {
  opacity: 1;
}

.modal-wrapper.active {
  transform: translateX(0);
}


/************ 반응형 *************/
@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {
  .header-wrapper .header-wrap .navi-wrapper {
    display: none;
  }

  .header-wrapper .header-wrap .icon-wrapper {
    display: none;
  }

  .header-wrapper .header-wrap .header-logo img {
    display: none;
  }



  @media screen and (max-width: 767px) {}

  @media screen and (max-width: 575px) {}