/************ 공통사항 *************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@200;300;400;800;900&display=swap');
/* 
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
*/

html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 0.95;
  height: 5000px;
}

body.hide {
  height: 100vh;
  overflow: hidden;
}

a:link,
a:visited,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
}

.w-100 { width: 100%; }

.mw-100 { max-width: 100%; }

.wrapper { max-width: 980px; margin: auto; overflow: hidden; }

.rel { position: relative; }

.abs {  position: absolute; }

.tc { text-align: center; }

.mc { color: #f14d4c; } 

.selec::selection {
  color: #f9f9f9;
  background-color: #f14d4c;
}

.common-title-inner::after {
  display: block;
  content: "";
  border: 4px solid #f14d4c;
  width: 0.625em;
  position: absolute;
  top: 75%;
  left: 100%;

}

h2.common-title{font-size: 3.5em; font-weight: bold; padding-bottom: 0.5em;}

.top-title {font-style: italic; font-weight: lighter; line-height: 1.49em; letter-spacing: .045em; font-size: 1.15em;}

.sub {font-weight: bold; font-size: 1.25em; }
.sub-title {font-style: italic; font-weight: lighter; line-height: 1.49em; letter-spacing: .045em; font-size: 1em; display: block;  padding: 0.5em 0 1.5em 0; }


.hover-line::after {
  display: block;
  content: "";
  border-top: 1px solid #f9f9f9;
  margin-top: 0.25em;
  transition: all 0.3s;
  transform: scaleX(0);
  /* 해놔야 hover전에 안보임 */
  transform-origin: left;
  /* start */

}

.hover-line:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}

/************ header-wrapper *************/
.header-wrapper {
  background-color: transparent;
  /* background-color: lightblue; */
  position: relative;
  z-index: 99;
  position: absolute;
  width: 100%;
}

.header-wrapper .header-wrap {
  display: flex;
  align-items: center;
  padding: 0 3em;
}

.header-wrapper .header-wrap .header-logo img {
  width: 80px;
  padding: 2.5em 0;
}

.header-wrapper .header-wrap .navi-wrapper {
  display: flex;
  align-items: center;
  color: #f9f9f9;
  margin-left: auto;
}

.header-wrapper .header-wrap .navi-wrapper .navi {
  padding: 2.5em 1.5em;
  cursor: pointer;
  letter-spacing: 0.2em;
  position: relative;
}

.header-wrapper .header-wrap .navi-wrapper .navi>a {
  text-align: center;
}

.header-wrapper .header-wrap .icon-wrapper {
  display: flex;
  color: #f9f9f9;
  font-size: 1.5em;
}

.header-wrapper .header-wrap .icon-wrapper .icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrapper .header-wrap .icon-wrapper .icon-wrap a {
  margin-left: 1em;
}

.header-wrapper .header-wrap .icon-wrapper .icon-wrap .cart-wrap {
  padding: 1.5em 0;
}

.header-wrapper .header-wrap .icon-wrapper .icon-wrap .cart-wrap .cart .cart-cnt {
  background-color: #f14d4c;
  color: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 50%;
  position: absolute;
  top: 3em;
  right: 12.875em;
  font-size: 0.5em;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
}

.header-wrapper .header-wrap .icon-wrapper .icon-wrap .cart-wrap ul.cart-dropbox {
  position: absolute;
  top: 5.6em;
  left: 72%;
  color: #111;
  font-size: 0.75em;
  font-weight: lighter;
  background-color: #fff;
  padding: 2.25em 3.25em;
  opacity: 0;
  transform: translateY(100%);
  transition: all .35s cubic-bezier(.53, .01, .18, 1);
  z-index: 999;
}

.header-wrapper .header-wrap .icon-wrapper .icon-wrap .cart-wrap ul.cart-dropbox.active {
  opacity: 1;
  transform: translateY(0);
}

.header-wrapper .search-wrap {
  width: 100%;
  padding: 2.25em;
  background-color: #fff;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.header-wrapper .search-wrap .type-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrapper .search-wrap .type-wrap input {
  margin-left: 0.5em;
  font-weight: 100;
  font-size: 1.1em;
  width: 90%;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  outline: 0;
}

.header-wrapper .search-wrap .type-wrap .bt-close {
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  margin-right: 0.25em;
  color: #555;
}

.header-wrapper .search-wrap .type-wrap .bt-close:hover {
  color: #f14d4c;
}

/************ .navi-wrapper *************/
.navi-wrapper .sub-navi-wrapper {
  position: absolute;
  top: 5.875em;
  left: 0;
  color: #111;
  background-color: #fff;
}

.navi-wrapper .sub-navi-wrapper .sub-wrap {
  padding: 3em 2em;
  text-align: left;
  min-width: 300px;
}


.navi-wrapper .sub-navi-wrapper .sub-wrap .sub {
  font-weight: lighter;
  letter-spacing: -0.03em;
  padding-bottom: 0.5em; 
  overflow: hidden;
}

.navi-wrapper .sub-navi-wrapper .sub-wrap .sub > div {
  transform: translateX(-16px);
  color: #f14d4c;
  transition: all 0.5s;
}

.navi-wrapper .sub-navi-wrapper .sub-wrap .sub:hover > div {
  transform: translateX(0);
}

.navi-wrapper .sub-navi-wrapper .sub-wrap ul.sub>.aw-txt .aw {
  opacity: 0;
}

.navi-wrapper .sub-navi-wrapper .sub-wrap ul.sub>.aw-txt .aw.active {
  opacity: 1;
}

/************ .mobile-wrapper *************/
.mobile-wrapper {background-color: #f9f9f9;  z-index: 999; position: absolute; top: 0; left: 0; display: none;}
.mobile-wrapper .mobile-wrap {display: flex; align-items: center; padding: 1.875em 5em; }
.mobile-wrapper .mobile-wrap .bars {font-size: 1.3em;  transition: all .2s;}
.mobile-wrapper .mobile-wrap .bars:hover {color: #f14d4c;}
.mobile-wrapper .mobile-wrap .mobile-logo {margin: 0 auto;}
.mobile-wrapper .mobile-wrap .mobile-logo img{width: 80px;}

.mobile-wrapper  .mo-navi-wrap {background-color: #f9f9f9; display: none; padding: 0 5em;}
.mo-navi .navi-title { margin:  1em 0; font-size: 1.25em; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #ccc; padding-bottom: 0.875em;}
.mo-navi .navi-title .bt-show { cursor: pointer;}
.mo-navi > ul {display: none;}
.mo-navi .navi {padding: 0.75em 0; font-size: 0.875em; border-bottom: 1px solid #ccc; padding: 1.25em 0; color: #777;}
.mo-navi .navi:first-child {padding-top: 0;}


/************ .main-wrapper *************/
.main-wrapper {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
}

.main-wrapper .banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;/* = 100% auto */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.main-wrapper .banner1 {
  background-image: url(../img/main-slider-img1.jpg);
}
.main-wrapper .banner2 {
  background-image: url(../img/main-slider-img2.jpg);
}
.main-wrapper .banner3 {
  background-image: url(../img/main-slider-img3.jpg);
}
.main-wrapper .banner4 {
  background-image: url(../img/main-slider-img4.jpg);
}

.main-wrapper .banner .title-wrap {
  position: absolute;
  top: 13em;
  left: 50%;
  transform: translateX(-50%);
  color: #f9f9f9;
}

.main-wrapper .banner .title-wrap h2.title {
  font-size: 8.5em;
  font-weight: bold;
  line-height: 1em;
}

.main-wrapper .banner .title-wrap .content {
  font-size: 1.25em;
  font-style: italic;
  line-height: 1.875em;
  font-weight: lighter;
  margin-top: 2.5em;
}

.main-wrapper .banner .title-wrap .bt-more {
  border: 1px solid #f9f9f9;
  padding: 1.35em 3.15em;
  margin-top: 3em;
  letter-spacing: 0.125em;
  transition: all 0.3s;
}

.main-wrapper .banner .title-wrap .bt-more:hover {
  background-color: transparent;
  color: #f9f9f9;
}

.main-wrapper .bt-arrow {
  color: #f9f9f9;
  font-size: 3em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 99;
}

.main-wrapper .bt-prev {
  left: 1em;
}

.main-wrapper .bt-next {
  right: 1em;
}

.main-wrapper .pager-wrap {
  display: flex;
  position: absolute;
  z-index: 99;
  left: 50%;
  bottom: 1.5em;
  transform: translateX(-50%);
}

.main-wrapper .pager {
  font-size: 1.25em;
  padding: 0.125em;
  color: #fff;
  cursor: pointer;
}

.main-wrapper .pager.active {
  color:rgb(153, 194, 207);
}

/************ .title-wrapper *************/
.title-wrapper {
  background-color: transparent;
  align-items: center;
}

.title-wrapper .title-wrap {
  text-align: left;
  justify-content: center;
  margin: 0 2em;
  padding: 7em 0 7em;
}

.title-wrapper .title-wrap .title-inner {
  padding: 0 2em;
}

.title-wrapper .title-wrap .title-inner h2.title {
  color: #111;
  font-size: 3.5em;
  font-weight: 700;
  letter-spacing: -.04em;
  padding-left: 0.5em;
  line-height: 1.3em;
   font-family: Poppins,sans-serif;
   margin-bottom: 0;
}

.title-wrapper .title-wrap .title-inner h2.title span {
  color: #f14d4c;
}


/************ .portfolio-wrapper *************/
.portfolio-wrapper {width: 100%;   margin: 0 auto; overflow: hidden; }
.portfolio-wrapper .portfolio-wrap {display: flex; flex-wrap: wrap; justify-content: center;} 
.portfolio-wrapper .portfolio-wrap .img-box1{ flex: 50% 0 0; }
.portfolio-wrapper .portfolio-wrap .img-box1:hover .front {
  transform: perspective(700px) translate3d(-4.88743px, 0.733083px, -0.733083px) rotate3d(1, 0, 0, -3deg) rotate3d(0, 1, 0, 4.88743deg) rotate3d(0, 0, 1, 0deg);
  }

.portfolio-wrapper .portfolio-wrap .img-box2-wrap { flex: 50% 0 0; display: flex; flex-wrap: wrap; justify-content: center; }
.portfolio-wrapper .portfolio-wrap .img-box2-wrap .img-box2{ display: flex; flex-wrap: wrap; flex: 50% 0 0; } 
.portfolio-wrapper .portfolio-wrap .img-box2:hover .front {

}


/************ .awards-wrapper *************/
.awards-wrapper .awards-wrap{padding: 10em 5em; }
.awards-wrapper .awards-wrap .top-wrap {/* border: 1px solid red; */ }


.awards-wrapper .awards-wrap .bottom-wrap {/* border: 1px solid blue; */ margin-top: 5em; text-align: left; }
.awards-wrapper .awards-wrap .bottom-wrap .bottom{display: flex; justify-content: center; align-items: center; }
.awards-wrapper .awards-wrap .bottom-wrap .bottom .b-box {flex: 33.3333% 0; }
.awards-wrapper .awards-wrap .bottom-wrap .bottom .b-box h2.common-title {font-size: 2.75em;}

/************ .midslide-wrapper*************/
.midslide-wrapper {background-image: url(../img/mid-slide.jpg); width: 100%; background-repeat: no-repeat; background-position: center;} 
.midslide-wrapper .midslide-wrap{margin: 3em;}
.midslide-wrapper .midslide-wrap .midslide{padding: 10em 4em;}
.midslide-wrapper .midslide-wrap .midslide .holder{}
.midslide-wrapper .midslide-wrap .midslide .holder .h-txt{font-size: 3em; color: #f9f9f9;}
.midslide-wrapper .midslide-wrap .midslide .holder .author {font-size: 1em; font-weight: lighter; font-style: italic;}


/************ .artwork-wrapper *************/
.art-wrapper .art-wrap {display: flex; flex-wrap: wrap; justify-content: center;}
.art-wrapper .art-wrap .art-cont{ 
width: 50%; height: 680px; 
padding: 12em;
background-image: url(../img/artwork-back.jpg);
background-repeat: no-repeat;
background-position: center;
}
.art-wrapper .art-wrap .art-cont .common-title {font-size: 2.75em; }
.art-wrapper .art-wrap .art-cont .top-title {font-weight: lighter; letter-spacing: -.01em; }
.art-wrapper .art-wrap .art-cont .content {padding: 1.5em 0; font-style: normal; font-weight: lighter; font-size: 0.875em; letter-spacing: -.01em;  color: #555;} 
.art-wrapper .art-wrap .art-cont .bt-more {
  border: 0; 
  background-color: #f14d4c; 
  color: #f9f9f9;
  padding: 1.15em 3.75em;
  letter-spacing: 0.25em;
  font-size: 0.75em ;
}

.art-wrapper .art-wrap .art-img{
width: 50%;  height: 680px;
background-image: url(../img/artwork-img1.jpg);
background-position: center;
background-repeat: no-repeat;
}

.art-wrapper .art-wrap .art-img2 {
width: 50%;  height: 680px;
background-image: url(../img/artwork-img2.jpg);
background-position: center;
background-repeat: no-repeat;
}

/************ .gal-wrapper *************/
.gal-wrapper {width: 100%; height: 100%;}
.gal-wrapper .gal-wrap {width: 100%;}
.gal-wrapper .gal-wrap .gal{width: 100%;}


/************ .whatwedo-wrapper *************/
.whatwedo-wrapper {width: 100%; margin: 0 auto;}
.whatwedo-wrapper .whatwedo-wrap {}
.whatwedo-wrapper .whatwedo{border: 1px solid red; width: 100%;}

/************ .frame-wrapper *************/
.frame-wrapper {width: 100%; background-image: url(../img/frame.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
} 





/************ .modal-container *************/
.modal-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 999;
  transition: all 0.3s;
  opacity: 0;
  display: none;
}

.modal-container .modal-wrapper {
  background-color: #fff;
  width: 400px;
  height: 100vh;
  padding: 0 2.75em 0 3.5em;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  /* 100으로 숨겨 두는건 맞고 */
  transition: all 0.3s;
}

.modal-container .modal-wrapper .close-wrap {
  padding: 2em 0 1.25em 0;
  text-align: right;
}

.modal-container .modal-wrapper .close-wrap .bt-close {
  border: none;
  background-color: transparent;
  font-size: 1.75em;
}

.modal-container .modal-wrapper .logo-wrap {
  width: 8.5em;
  justify-content: flex-start;
}

.modal-container .modal-wrapper .content {
  padding-top: 2.5em;
  line-height: 1.75em;
  font-weight: lighter;
}

.modal-container .modal-wrapper .info-wrap {
  padding-top: 1.5em;
  font-style: italic;
  font-weight: lighter;
  cursor: pointer;
  flex-direction: column;
  display: inline-flex;
  /* display:flex와 개념은 같지만 컨테이너 자체가 블록요소 또는 인라인요소처럼 쓰일 것인지 정의 */
}


.modal-container .modal-wrapper .info-wrap>span:not(:last-child) {
  margin-bottom: 0.75em;
}

.modal-container .modal-wrapper .info-wrap>span:hover {
  color: #f14d4c;
}

.modal-container .modal-wrapper .sns-wrap {
  padding: 3em 0;
}

.modal-container .modal-wrapper .sns-wrap>li {
  padding-bottom: 1.5em;
  font-weight: 600;
  font-size: 1.05em;
}

.modal-container .modal-wrapper .sns-wrap>li:hover {
  color: #f14d4c;
}

.modal-container.active {
  opacity: 1;
}

.modal-container.active .modal-wrapper {
  transform: translateX(0);
}

/* .modal-container.active가 액티브되면  .modal-wrapper가 트랜스래잇을 다시 0으로 돌아오게  */


/************ 반응형 *************/
@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {
  .header-wrapper .header-wrap .navi-wrapper {display: none;}

  .header-wrapper .header-wrap .icon-wrapper {display: none;}

  .header-wrapper .header-wrap .header-logo img {display: none;}

  .mobile-wrapper {display: block;}

  .main-wrapper .bt-arrow {display: none;}

}

@media screen and (max-width: 767px) {
  .art-wrapper .art-wrap .art-cont{ flex: 100% 0 0; }
  .art-wrapper .art-wrap .art-img{ flex: 100% 0 0; }
  .art-wrapper .art-wrap .art-img2{ flex: 100% 0 0; }
}

@media screen and (max-width: 575px) {}