/************ 공통사항 *************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@200;300;400;800;900&display=swap');
/* 
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
*/

html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 0.95;
}

body.hide {
  height: 100vh;
  overflow: hidden;
}

a:link,
a:visited,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
}

.w-100 { width: 100%; }

.mw-100 { max-width: 100%; }

.wrapper { max-width: 980px; margin: auto; overflow: hidden; }

.rel { position: relative; }

.abs {  position: absolute; }

.tc { text-align: center; }

.mc { color: #023d3e; } 

.selec::selection {
  color: #f9f9f9;
  background-color: #023d3e;
}

.common-title-inner::after {
  display: block;
  content: "";
  border: 4px solid #023d3e;
  width: 0.625em;
  position: absolute;
  top: 75%;
  left: 100%;
}

h2.common-title{font-size: 3.5em; font-weight: bold; padding-bottom: 0.5em;}

.top-title {font-style: italic; font-weight: lighter; line-height: 1.49em; letter-spacing: .045em; font-size: 1.15em;}

.sub {font-weight: bold; font-size: 1.25em; }
.sub-title {font-style: italic; font-weight: lighter; line-height: 1.49em; letter-spacing: .045em; font-size: 1em; display: block;  padding: 0.5em 0 1.5em 0; }


.hover-line::after {
  display: block;
  content: "";
  border-top: 1px solid #f9f9f9;
  margin-top: 0.25em;
  transition: all 0.3s;
  transform: scaleX(0);
  /* 해놔야 hover전에 안보임 */
  transform-origin: left;
  /* start */

}

.hover-line:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}

/************ header-wrapper *************/
.header-wrapper {
  background-color: transparent;
/*   background-color: lightblue; */
  position: relative;
  z-index: 99;
  position: absolute;
  width: 100%;
}

.header-wrapper .header-wrap {
  display: flex;
  align-items: center;
  padding: 0 3em;
}

.header-wrapper .header-wrap .header-logo img {
  width: 70px;
  padding: 1.5em 0;
}

.header-wrapper .header-wrap .navi-wrapper {
  display: flex;
  align-items: center;
  color: #fff;
  margin-left: auto;
}

.header-wrapper .header-wrap .navi-wrapper .navi {
  padding: 2.5em 1.5em;
  cursor: pointer;
  letter-spacing: 0.2em;
  position: relative;
}

.header-wrapper .header-wrap .navi-wrapper .navi>a {
  text-align: center;
}

.header-wrapper .header-wrap .icon-wrapper {
  display: flex;
  color: #f9f9f9;
  font-size: 1.5em;
}

.header-wrapper .header-wrap .icon-wrapper .icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrapper .header-wrap .icon-wrapper .icon-wrap a {
  margin-left: 1em;
}

.header-wrapper .header-wrap .icon-wrapper .icon-wrap .cart-wrap {
  padding: 1.5em 0;
}


.header-wrapper .header-wrap .icon-wrapper .icon-wrap .cart-wrap ul.cart-dropbox {
  position: absolute;
  top: 5.6em;
  left: 72%;
  color: #111;
  font-size: 0.75em;
  font-weight: lighter;
  background-color: #fff;
  padding: 2.25em 3.25em;
  opacity: 0;
  transform: translateY(100%);
  transition: all .35s cubic-bezier(.53, .01, .18, 1);
  z-index: 999;
}

.header-wrapper .header-wrap .icon-wrapper .icon-wrap .cart-wrap ul.cart-dropbox.active {
  opacity: 1;
  transform: translateY(0);
}

.header-wrapper .search-wrap {
  width: 100%;
  padding: 2.25em;
  background-color: #fff;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.header-wrapper .search-wrap .type-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrapper .search-wrap .type-wrap input {
  margin-left: 0.5em;
  font-weight: 100;
  font-size: 1.1em;
  width: 90%;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  outline: 0;
}

.header-wrapper .search-wrap .type-wrap .bt-close {
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  margin-right: 0.25em;
  color: #555;
}

.header-wrapper .search-wrap .type-wrap .bt-close:hover {
  color: #023d3e;
}

/************ .navi-wrapper *************/
.navi-wrapper .sub-navi-wrapper {
  position: absolute;
  top: 7.15em;
  left: 0;
  color: #111;
  background-color: #fff;
  font-size: 0.875em;
}

.navi-wrapper .sub-navi-wrapper .sub-wrap {
  padding: 2em;
  text-align: left;
  min-width: 250px;
}


.navi-wrapper .sub-navi-wrapper .sub-wrap .sub {
  font-weight: lighter;
  letter-spacing: -0.03em;
  padding: 0.75em 0; 
  overflow: hidden;

}

.navi-wrapper .sub-navi-wrapper .sub-wrap .sub > div {
  transform: translateX(-15px);
  transition: all 0.2s;
}

.navi-wrapper .sub-navi-wrapper .sub-wrap .sub:hover > div {
  transform: translateX(0);
  color: #528989;
}




/************ .mobile-wrapper *************/
.mobile-wrapper {background-color: #f9f9f9;  z-index: 999; position: absolute; top: 0; left: 0; display: none;}
.mobile-wrapper .mobile-wrap {display: flex; align-items: center; padding: 1.875em 5em; }
.mobile-wrapper .mobile-wrap .bars {font-size: 1.3em;  transition: all .2s;}
.mobile-wrapper .mobile-wrap .bars:hover {color: #3f797a;}
.mobile-wrapper .mobile-wrap .mobile-logo {margin: 0 auto;}
.mobile-wrapper .mobile-wrap .mobile-logo img{width: 80px;}

.mobile-wrapper  .mo-navi-wrap {background-color: #f9f9f9; display: none; padding: 0 5em;}
.mo-navi .navi-title { margin:  1em 0; font-size: 1.25em; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #ccc; padding-bottom: 0.875em;}
.mo-navi .navi-title .bt-show { cursor: pointer;}
.mo-navi > ul {display: none;}
.mo-navi .navi {padding: 0.75em 0; font-size: 0.875em; border-bottom: 1px solid #ccc; padding: 1.25em 0; color: #777;}
.mo-navi .navi:first-child {padding-top: 0;}


/************ .main-wrapper *************/
.main-wrapper {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
}

.main-wrapper .banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;/* = 100% auto */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.main-wrapper .banner1 {
  background-image: url(../img/main-slider-img1.jpg);
}
.main-wrapper .banner2 {
  background-image: url(../img/main-slider-img2.jpg);
}
.main-wrapper .banner3 {
  background-image: url(../img/main-slider-img3.jpg);
}
.main-wrapper .banner4 {
  background-image: url(../img/main-slider-img4.jpg);
}

/* 배너공통 */
.main-wrapper .banner .title-wrap h2.title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

/* 메인배너 1 */
.main-wrapper .banner1 .title-wrap{
  position: absolute;
  top: 15em;
  left: 50%;
  transform: translateX(-50%);
  color: #f9f9f9;
}
.main-wrapper .banner1 .title-wrap .title { font-size: 2.5em; padding-bottom: 0.25em;}
.main-wrapper .banner1 .title-wrap .desc { font-size: 1.2em; line-height: 1.5; padding: 1em 0; color: #bcbcbc; }
.main-wrapper .banner1 .title-wrap .rewards-btn { display: flex; justify-content: center; align-items: center; margin-top: 1.25em; }
.main-wrapper .banner1 .title-wrap .rewards-btn .join { padding: 1em; border: 1px solid #f9f9f9; background-color: transparent; color: #f9f9f9; margin-right: 1em; border-radius: 5px;  transition: all .3s; outline: none;}
.main-wrapper .banner1 .title-wrap .rewards-btn .login { padding: 1em; border: 1px solid #f9f9f9ff; background-color: transparent; color: #f9f9f9; border-radius: 5px; outline: none; }

.main-wrapper .banner1 .title-wrap .rewards-btn .join:hover { background-color: #f9f9f9; color: #333;}

/* 메인배너 2 */
.main-wrapper .banner2 {position: relative;}
.main-wrapper .banner2 .title-wrap{
  position: absolute;
  top: 8em;
  left: 50%;
  transform: translateX(-50%);
  color: #f9f9f9;
}

.main-wrapper .banner2 .slogan-wrap { position: absolute; left: 10%; top: 17%;}
.main-wrapper .banner2 .bt-more { position: absolute; left: 15%; top: 32%; background-color: transparent; color: #f9f9f9; padding: 1.35em 3.15em; border: 1px solid #f9f9f9; letter-spacing: 0.125em; transition: all 0.2s;}
.main-wrapper .banner2 .bt-more:hover { background-color: #f9f9f9; color: #222; }

.main-wrapper .banner2 .spring-wrap { display: flex; color: #b04e4e;}
.main-wrapper .banner2 .spring-wrap .frapuccino {position: absolute; top: 25%; right: 28%;}
.main-wrapper .banner2 .spring-wrap .frapuccino .name-en {font-weight: bold; line-height: 1.3;}
.main-wrapper .banner2 .spring-wrap .frapuccino > span {display: block; font-size: 1.25em;padding-bottom: 1em;}
.main-wrapper .banner2 .spring-wrap .latte .name-en {font-weight: bold; line-height: 1.3;}
.main-wrapper .banner2 .spring-wrap .latte {position: absolute; top: 36%; left: 20%;}
.main-wrapper .banner2 .spring-wrap .latte > span {display: block; font-size: 1.25em;padding-bottom: 1em;}
.main-wrapper .banner2 .spring-wrap .lemonade {position: absolute; top: 31%; right: 10%;}
.main-wrapper .banner2 .spring-wrap .lemonade .name-en {font-weight: bold; line-height: 1.3;}
.main-wrapper .banner2 .spring-wrap .lemonade > span {display: block; font-size: 1.25em;padding-bottom: 1em;}


/* 메인배너 3 */
.main-wrapper .banner3 .spring-bean{
  position: absolute;
  top: 13em;
  left: 50%;
  transform: translateX(-50%);
}
.main-wrapper .banner3 .spring-bean { display: flex; justify-content: center; align-items: center; }
.main-wrapper .banner3 .spring-bean .img-wrap {flex: 0 0 40%;}
.main-wrapper .banner3 .spring-bean .title-wrap {flex: 0 0 60%; text-align: left;}
.main-wrapper .banner3 .spring-bean .title-wrap .title-top {color: #6e292f; font-size: 1.5em;}
.main-wrapper .banner3 .spring-bean .title-wrap .title-bottom {color: #4f1919; font-size: 3em; font-weight: bold;}
.main-wrapper .banner3 .spring-bean .title-wrap .content {font-size: 1.25em; line-height: 1.2;}
.main-wrapper .banner3 .spring-bean .title-wrap .bt-more {
  border: 1px solid #4f1919;
  color: #4f1919;
  background-color: transparent;
}
.main-wrapper .banner3 .spring-bean .title-wrap .bt-more:hover {
  background-color: #6e292f;
}

/* 메인배너 4 */
.main-wrapper .banner4 .title-wrap { 
  text-align: left; position: absolute;
  top: 14em;
  left: 10%;
  color: #f9f9f9; 
}
.main-wrapper .banner4 .title-wrap h2.title {font-size: 4em;}
.main-wrapper .banner4 .title-wrap .content { 
  font-size: 1.75em;
  line-height: 1.875em;
  margin-top: 1.5em;
}
.main-wrapper .banner4 .title-wrap .desc { font-size: 1.125em; line-height: 1.7; }
.main-wrapper .banner4 .title-wrap .bt-more {
    border: 1px solid #f9f9f9;
    padding: 1.35em 3.15em;
    margin-top: 3em;
    letter-spacing: 0.125em;
    background-color: transparent;
    color: #f9f9f9;
    transition: all 0.3s;
    outline: none;
  }


.main-wrapper .banner .title-wrap .bt-more {
  border: 1px solid #f9f9f9;
  padding: 1.35em 3.15em;
  margin-top: 3em;
  letter-spacing: 0.125em;
  transition: all 0.3s;
}

.main-wrapper .banner .title-wrap .bt-more:hover {
  background-color: transparent;
  color: #f9f9f9;
}

.main-wrapper .bt-arrow {
  color: #f9f9f9;
  font-size: 3em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 99;
}

.main-wrapper .bt-prev {
  left: 1em;
}

.main-wrapper .bt-next {
  right: 1em;
}

.main-wrapper .pager-wrap {
  display: flex;
  position: absolute;
  z-index: 99;
  left: 50%;
  bottom: 1.5em;
  transform: translateX(-50%);
}

.main-wrapper .pager {
  font-size: 1.25em;
  padding: 0.125em;
  color: #fff;
  cursor: pointer;
}

.main-wrapper .pager.active {
  color:rgb(153, 194, 207);
}

/************ .reserve-wrapper *************/
.reserve-wrapper {
  background-color: transparent;
  align-items: center;
}

.reserve-wrapper .reserve-wrap {
  text-align: left;
  display: flex;
  justify-content: center;
  padding: 5em 7em;
}
.reserve-wrapper .reserve-wrap .mo-reserve-img {width: 400px; text-align: center; padding-top: 3em; display: none;}
.reserve-wrapper .reserve-wrap .reserve-img {flex: 0 0 40%; padding-left: 2em;}
.reserve-wrapper .reserve-wrap .title-inner {
  flex:0 0 60%;
  padding-top: 10em;
  padding-left: 3em;
}

.reserve-wrapper .reserve-wrap .title-inner h2.title {
  color: #111;
  font-size: 3.5em;
  font-weight: 700;
  letter-spacing: -.04em;
  padding-left: 0.5em;
  line-height: 1.3em;
  font-family: Poppins,sans-serif;
  margin-bottom: 0;
}

.reserve-wrapper .reserve-wrap .title-inner h2.title span {
  color: #3e6060;
}


/************ .best-wrapper *************/
.best-wrapper {width: 100%; margin: 0 auto; overflow: hidden; }
.best-wrapper .best-wrap {display: flex; flex-wrap: wrap; justify-content: center; align-items: center; } 
.best-wrapper .best-wrap .img-box1{ flex: 50% 0 0; display: flex; justify-content: center; align-items: center;}
.best-wrapper .best-wrap .img-box1:hover .front {
 /*  transform: perspective(700px) translate3d(-4.88743px, 0.733083px, -0.733083px) rotate3d(1, 0, 0, -3deg) rotate3d(0, 1, 0, 4.88743deg) rotate3d(0, 0, 1, 0deg); */
  }

.best-wrapper .best-wrap .img-box2-wrap { flex: 50% 0 0; display: flex; flex-wrap: wrap; justify-content: center; }
.best-wrapper .best-wrap .img-box2-wrap .img-box2{ display: flex; flex-wrap: wrap; flex: 50% 0 0; } 


/************ .new-arrivals-wrapper *************/
.new-arrivals-wrap {display: flex; flex-wrap: wrap; justify-content: center; align-items: center;}
.new-arrivals-wrap .new-arrivals{display: flex block; flex: 50% 0 0; padding: 4em; justify-content: center; align-items: center; text-align: center; font-size: 1.25em;}
.new-arrivals-wrap .new-arrivals .new {padding-bottom: 1em; color:#12494a;}
.new-arrivals-wrap .new-arrivals .title {font-size: 1em;}
.new-arrivals-wrap .new-arrivals .title-ko {padding: 0.5em 0 1em 0; font-size: 2em;}
.new-arrivals-wrap .new-arrivals .desc {border-bottom: 1px solid #ccc; display: inline-block; padding-bottom: 1em; color: rgb(76, 76, 76); line-height: 1.5;}
.new-arrivals-wrap .new-arrivals .area {padding-top: 2em;}
.new-arrivals-wrap .new-arrivals .bt-more {
  padding: 1.5em 2.5em; border: none; background-color:#023d3e; color: #f9f9f9; margin-top: 2em; transition: all 0.3s;
}
.new-arrivals-wrap .new-arrivals .bt-more:hover {background-color: transparent; color: #111; border: 1px solid #023d3e; outline: none;}


.new-arrivals-wrap .new-img{display: flex; flex: 50% 0 0; }


/************ .coffee-beans-wrapper *************/
.coffee-beans-wrapper {width: 100%; height: 100%; overflow: hidden;}
.coffee-beans-wrapper .slide{width: 100%;}
.coffee-beans-wrapper .swiper-pagination { display: flex; justify-content: center; align-items: center; }

.coffee-beans-wrapper .pager-wrap {
  display: flex;
  position: absolute;
  z-index: 99;
  left: 50%;
  bottom: 1.5em;
  transform: translateX(-50%);
}

.coffee-beans-wrapper .pager-wrap .pager {
  font-size: 1.25em;
  padding: 0.25em;
  color: rgb(185, 185, 185);
  cursor: pointer;
}

.coffee-beans-wrapper .pager-wrap .pager.active {
  color:rgb(133, 178, 169);
}


/************ .roast-wrapper *************/
.roast-wrapper .roast-wrap {display: flex; flex-wrap: wrap; justify-content: center; align-items: center; width: 100%; }
.roast-wrapper .roast-wrap .common-title {font-size: 3em;}
.roast-wrapper .roast-wrap .content {font-style: normal; font-size: 0.875em; padding-top: 1em;}
.roast-wrapper .roast-wrap .bt-more { border: none; color: #f14d4c; background-color: transparent; }
.roast-wrapper .roast-wrap .smooth .bt-more  {
  color: #154e4f;
}

.roast-wrapper .mellow{
  flex: 33.3333%; 
  background-image: url(../img/whatwedo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 7em 3em;
}
.roast-wrapper .mellow .common-title,
.roast-wrapper .mellow .top-title,
.roast-wrapper .mellow .content {color: #f9f9f9;}

.roast-wrapper .smooth{
  flex: 33.3333%; 
  background-image: url(../img/whatwedo2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 7em 3em;
}
.roast-wrapper .smooth .common-title {margin-bottom: 30px;}

.roast-wrapper .bold{
  flex: 33.3333%;
  background-image: url(../img/whatwedo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 7em 3em;
}
.roast-wrapper .bold .common-title,
.roast-wrapper .bold .top-title,
.roast-wrapper .bold .content {color: #f9f9f9;}

/************ .news-wrapper *************/
.news-wrapper .top-wrap { padding: 0 25em; padding: 7em;}
.news-wrapper .bottom {display: flex; flex-wrap: wrap; justify-content: center; align-items: centers; padding: 0 6em;}
.news-wrapper .bottom-cont {padding-bottom: 7em; padding-right: 3em; color: #444; flex: 33.3333%;}
.news-wrapper .bottom-cont .date{padding-bottom: 0.75em;}
.news-wrapper .bottom-cont h3{padding-bottom: 0.5em; font-weight: bold; color: #154e4f;} 
.news-wrapper .bottom-cont .content{padding-bottom: 0.75em; letter-spacing: -.01em; font-weight: lighter; line-height: 1.5; }
.news-wrapper .bottom-cont .bt-more { color: #154e4f; border: 1px solid #154e4f; border-radius: 3px; padding: 1em; background-color: transparent; letter-spacing: .1em; font-weight: 600; text-align: center; transition: all .5s;}
.news-wrapper .bottom-cont .bt-more:hover {color: #f9f9f9; background-color: #154e4f;}


/************ .footer-container *************/
.footer-wrapper {width: 100%; background-color: #333; color: #dcdcdc; text-align: center; padding: 2em;}
.footer-wrapper .footer-wrap { display: flex; flex-direction: column; padding: 2em; justify-content: center; align-items: center;}
.footer-wrapper .footer-wrap .copyright ul.copy {display: flex; flex-wrap: wrap; color: #f9f9f9;}
.footer-wrapper .footer-wrap .copyright ul.copy > li { border-right: 1px solid #c0c0c0; line-height: 1; padding: 0 1em;}
.footer-wrapper .footer-wrap .copyright ul.copy > li:last-child {border-right: none;}

.footer-wrapper .footer-wrap .copy-map {padding-top: 2em;}
.footer-wrapper .footer-wrap .copy-map button{background-color: transparent; padding: 1.5em; color: #f9f9f9; border: 1px solid #f9f9f9; transition: all .3s;} 
.footer-wrapper .footer-wrap .copy-map button:hover {background-color: #eaeaea; color: #222; border: none;}

.footer-wrapper .footer-wrap .info {padding: 2em;}
.footer-wrapper .footer-wrap .info ul {display: flex; flex-wrap: wrap; }
.footer-wrapper .footer-wrap .info ul > li { padding-right: 1em;}

/************ .modal-container *************/
.modal-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 999;
  transition: all 0.3s;
  opacity: 0;
  display: none;
}

.modal-container .modal-wrapper {
  background-color: #fff;
  width: 400px;
  height: 100vh;
  padding: 0 3.5em;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  /* 100으로 숨겨 두는건 맞고 */
  transition: all 0.3s;
}

.modal-container .modal-wrapper .close-wrap {
  padding: 2em 0 1.25em 0;
  text-align: right;
}

.modal-container .modal-wrapper .close-wrap .bt-close {
  border: none;
  background-color: transparent;
  font-size: 1.75em;
}

.modal-container .modal-wrapper .logo-wrap {
  width: 6.5em;
  justify-content: flex-start;
}

.modal-wrapper input {display: block; padding: 0.5em 10em 0.5em 0.5em; margin: 0.875em 0;}
.modal-wrapper .title-main {font-size: 1.25em; padding-top: 3em;}
.modal-wrapper .save { padding-top: 1em; color: #111;}
.modal-wrapper .login { display: block; padding: 1em; color: #111; background-color: #023d3e; margin-top: 2em; text-align: center; letter-spacing: 0.1em; color: #f9f9f9; font-size: 1.125em; border-radius: 3px;}
.modal-wrapper .create { display: block; padding: 1em; color: #111; margin-top: 1em;background-color: #d2d2d2; color: #333; text-align: center; letter-spacing: 0.1em; font-size: 1.125em; border-radius: 3px;}
.modal-wrapper > p {padding: 1.5em 0; color: #023d3e; line-height: 1.3;}


.modal-container .modal-wrapper .info-wrap {
  padding-top: 1.5em;
  font-style: italic;
  font-weight: lighter;
  cursor: pointer;
  flex-direction: column;
  display: inline-flex;
  /* display:flex와 개념은 같지만 컨테이너 자체가 블록요소 또는 인라인요소처럼 쓰일 것인지 정의 */
}


.modal-container .modal-wrapper .info-wrap>span:not(:last-child) {
  margin-bottom: 0.75em;
}

.modal-container .modal-wrapper .info-wrap>span:hover {
  color: #f14d4c;
}

.modal-container .modal-wrapper .sns-wrap {
  padding: 3em 0;
}

.modal-container .modal-wrapper .sns-wrap>li {
  padding-bottom: 1.5em;
  font-weight: 600;
  font-size: 1.05em;
}

.modal-container .modal-wrapper .sns-wrap>li:hover {
  color: #f14d4c;
}

.modal-container.active {
  opacity: 1;
}

.modal-container.active .modal-wrapper {
  transform: translateX(0);
}

/* .modal-container.active가 액티브되면  .modal-wrapper가 트랜스래잇을 다시 0으로 돌아오게  */


/************ 반응형 *************/
@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {
  .header-wrapper .header-wrap .navi-wrapper {display: none;}
  .header-wrapper .header-wrap .icon-wrapper {display: none;}
  .header-wrapper .header-wrap .header-logo img {display: none;}
  .mobile-wrapper {display: block;}
  .main-wrapper .bt-arrow {display: none;}

  .roast-wrapper .mellow{ flex: 100% 0 0; }
  .roast-wrapper .smooth{ flex: 100% 0 0; }
  .roast-wrapper .bold{ flex: 100% 0 0; }

  .check-wrapper .check-content { flex: 100% 0 0; }
  .check-wrapper .check-img { flex: 100% 0 0; }

  .reserve-wrapper .reserve-wrap .reserve-img {flex: 100%; }
  

  .footer-wrapper .footer-wrap .copyright ul.copy > li { line-height: 1.5; }
  .footer-wrapper .footer-wrap .info {line-height: 1.5;}

  /* banner2 */
  .main-wrapper .banner2 .slogan-wrap { position: absolute; left: 6%; top: 23%; }
  .main-wrapper .banner2 .bt-more { position: absolute; left: 60%; top: 23%; padding: 1.25em 2.25em; }
  .main-wrapper .banner2 .spring-wrap .frapuccino {position: absolute; top: 45%; right: 36%;}
  .main-wrapper .banner2 .spring-wrap .frapuccino span {font-size: 1.125em; padding-bottom: 0.25em;}
  .main-wrapper .banner2 .spring-wrap .frapuccino img { width: 300px; }
  .main-wrapper .banner2 .spring-wrap .latte {position: absolute; top: 38%; left: 10%;}
  .main-wrapper .banner2 .spring-wrap .latte span {font-size: 1.125em; padding-bottom: 0.25em;}
  .main-wrapper .banner2 .spring-wrap .latte img { width: 300px; }
  .main-wrapper .banner2 .spring-wrap .lemonade {position: absolute; top: 35%; right: 10%;}
  .main-wrapper .banner2 .spring-wrap .lemonade span {font-size: 1.125em; padding-bottom: 0.25em;}
  .main-wrapper .banner2 .spring-wrap .lemonade img { width: 300px; }
}

@media screen and (max-width: 767px) {
  .news-wrapper .bottom-cont {flex: 100% 0 0;}
  .new-arrivals-wrap .new-arrivals{ flex: 100% 0 0; }
  .new-arrivals-wrap .new-img{ flex: 100% 0 0; }
  .main-wrapper .banner1 .title-wrap{ top: 13em; }
  .reserve-wrapper .reserve-wrap .title-inner {display: none;}
  .reserve-wrapper .reserve-wrap .mo-reserve-img {display: block; }

  /* banner2 */
  .main-wrapper .banner2 .slogan-wrap { position: absolute; left: 6%; top: 23%; }
  .main-wrapper .banner2 .slogan-wrap img { width: 330px; }
  .main-wrapper .banner2 .bt-more { position: absolute; left: 48%; top: 37%; padding: 1.25em 2.25em; }
  .main-wrapper .banner2 .spring-wrap .frapuccino {position: absolute; top: 50%; right: 37%;}
  .main-wrapper .banner2 .spring-wrap .frapuccino span {font-size: 1.125em; padding-bottom: 0.25em;}
  .main-wrapper .banner2 .spring-wrap .frapuccino img { width: 250px; }
  .main-wrapper .banner2 .spring-wrap .latte {position: absolute; top: 38%; left: 7%;}
  .main-wrapper .banner2 .spring-wrap .latte span {font-size: 1.125em; padding-bottom: 0.25em;}
  .main-wrapper .banner2 .spring-wrap .latte img { width: 250px; }
  .main-wrapper .banner2 .spring-wrap .lemonade {position: absolute; top: 35%; right: 7%;}
  .main-wrapper .banner2 .spring-wrap .lemonade span {font-size: 1.125em; padding-bottom: 0.25em;}
  .main-wrapper .banner2 .spring-wrap .lemonade img { width: 250px; }
}

@media screen and (max-width: 575px) {
  .new-arrivals-wrap .new-arrivals{ flex: 100% 0 0; }
  .new-arrivals-wrap .new-img{ flex: 100% 0 0; }

  /* banner1 */
  .main-wrapper .banner1 .title-wrap{ top: 12.5em; margin-top: 2.5em;}
  .main-wrapper .banner1 .title-wrap .title { font-size: 2.25em; padding-bottom: 0.25em;}
  .main-wrapper .banner1 .title-wrap .content { font-size: 1.25em; line-height: 1.3;}
  .main-wrapper .banner1 .title-wrap .desc { font-size: 1em; line-height: 1.5; padding-top: 1em; color: #bcbcbc; }
  /* banner2 */
  .main-wrapper .banner2 .slogan-wrap { position: absolute; left: 6%; top: 20%; }
  .main-wrapper .banner2 .slogan-wrap img { width: 230px; }
  .main-wrapper .banner2 .bt-more { position: absolute; left: 68%; top: 24%; padding: 1em; letter-spacing: 0.01em; }
  .main-wrapper .banner2 .spring-wrap .frapuccino {position: absolute; top: 58%; right: 32%;}
  .main-wrapper .banner2 .spring-wrap .frapuccino span {font-size: 1.125em; padding-bottom: 0.25em;}
  .main-wrapper .banner2 .spring-wrap .frapuccino img { width: 200px; }
  .main-wrapper .banner2 .spring-wrap .latte {position: absolute; top: 28%; left: 3%;}
  .main-wrapper .banner2 .spring-wrap .latte span {font-size: 1.125em; padding-bottom: 0.25em;}
  .main-wrapper .banner2 .spring-wrap .latte img { width: 200px; }
  .main-wrapper .banner2 .spring-wrap .lemonade {position: absolute; top: 35%; right: 2%;}
  .main-wrapper .banner2 .spring-wrap .lemonade span {font-size: 1.125em; padding-bottom: 0.25em;}
  .main-wrapper .banner2 .spring-wrap .lemonade img { width: 200px; }


  /* banner3 */
  .main-wrapper .banner3 .spring-bean { flex-wrap: wrap; margin-left: 8%; margin-top: 2.5em; }
  .main-wrapper .banner3 .spring-bean .img-wrap img{ width: 280px; }
  .main-wrapper .banner3 .spring-bean .title-wrap { position: absolute; top: 18em; left: 0;}
  .main-wrapper .banner3 .spring-bean .title-wrap .title-top { font-size: 1.25em; }
  .main-wrapper .banner3 .spring-bean .title-wrap .title-bottom { font-size: 2em; }
  .main-wrapper .banner3 .spring-bean .title-wrap .content { font-size: 1.125em; line-height: 1.2}
  .main-wrapper .banner3 .spring-bean .title-wrap .bt-more { padding: 1em; margin-top: 1em;}
  /* banner4 */
  .main-wrapper .banner4 .title-wrap { padding-right: 8%; }
  .main-wrapper .banner4 .title-wrap h2.title { font-size: 3em; }
  .main-wrapper .banner4 .title-wrap .content { font-size: 1.25em; margin-top: 1em; }
  .main-wrapper .banner4 .title-wrap .desc { font-size: 1.125em; line-height: 1.7; }
  .main-wrapper .banner4 .title-wrap .bt-more { padding: 1em 2.15em; margin-top: 1.5em; }

  .reserve-wrapper .reserve-wrap .reserve-img {flex: 0 0 100%; padding-left: 0em;}
  .reserve-wrapper .reserve-wrap .reserve-img img {width: 350px; padding: 2%; padding-left: none;}

  .reserve-wrapper .reserve-wrap .mo-reserve-img {display: block; width: 350px; }
}
